<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hi {{name}}</p>
        <p>Thank you for choosing DINX.</p>
        <p>Use the below OTP to complete your signup procedures and verify your account on DINX</p>
        <p>{{otp}}</p>
        <p>If you didnot request this,please ignore this or let us know</p>
        <p>Thank you</p>
        <p>DINX Team!</p>
    </body>
</html>